// 
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

.left-side-menu,
.topbar,
.light-theme {
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
